html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

:root {
	--fs: 20px;
	--c-theme: purple;
	--c-bg-light: lightgray;
}

html {
	font-size: var(--fs);
}

/* default elements */
details {
	background-color: var(--c-bg-light);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}
summary {
	cursor: pointer;
	padding: 0.5em 0;
}
figure {
	border: 1px solid var(--c-theme);
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* web-components */
qr-code[format="svg"] {
	display: flex;
}
